*{
 box-sizing: border-box;
}
.forms{
 position: relative;
 background-color:  #AD9BE9;
 color:#000000;
 display: flex;
 flex-direction: column;
 width: 780px;
height: 287px;
margin: 0 auto;
border-radius: 10px;
}

.div-1 {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 position: absolute;
 left: 40px;
 top: 55px;
 


}
.div-2 {
 position: absolute;
 top: 55px;
 right: 40px;

}


.div-3{
 position: absolute;
 right: 40px;
 bottom: 20PX;
 margin: 20px;
}